<div class="well">
    <h1>
        CRS
        <small><em>Complete Restaurant Solution</em></small>
    </h1>
    <p>
        If you wish to setup your restaurant on this website, please do not hestitate contact us.
    </p>

    <dl class="dl-horizontal">
        <dt>Free Setup/Training</dt>
        <dd>Give us a call, send us a menu, we'll get it ready in 1-3 days.</dd>

        <dt>Free of Charge</dt>
        <dd>We'll give you a 6 month usage for free.</dd>
    </dl>

    <p>
        Please email
        <a href="mailto:daryl.khuong@gmail.com?Subject=CRS%20Inquiry" target="_top">daryl.khuong@gmail.com</a>
        or give us a call at 818-836-9961.
    </p>
</div>
