<div class="col-sm-10 col-md-10 center-block">
    <div class="row vspacer-5">
        <div class="col-sm-8 vspacer-10">
            <a class="btn btn-lg btn-block btn-warning" ui-sref="order-main">
                <h2>{{'table_view' | translate}}</h2>
                <h4><em>{{'table_view_description' | translate}}</em></h4>
            </a>
        </div>
        <div class="col-sm-8 vspacer-10">
            <a class="btn btn-lg btn-block btn-warning" ui-sref="order-list-kitchen">
                <h2>{{'front_view' | translate}}</h2>
                <h4><em>{{'front_view_description' | translate}}</em></h4>
            </a>
        </div>
        <div class="col-sm-8 vspacer-10">
            <a class="btn btn-lg btn-block btn-warning" ui-sref="order-list-kitchen">
                <h2>{{'kitchen_view' | translate}}</h2>
                <h4><em>{{'kitchen_view_description' | translate}}</em></h4>
            </a>
        </div>
    </div>
</div>
