<h3>
    Welcome to CRS
    <br /><small>Complete Restaurant Solution</small>
</h3>
<p>This software is a POC for restaurants and food trucks with these features:</p>
<ul>

    <li>Waiter/Waitress to take order using a tablet</li>
    <li>Kitchen staffs can view and update order status in real time</li>
    <li>Casher can view order status and print the final bill for customer</li>
    <li>Customer can order online or from a tablet on the table (optional)</li>
    <li>Multi-lingual support</li>
    <li>Multi-restaurant support</li>
    <li>Restaurant customization can be done quickly</li>
    <li>Client can choose between cloud based or intranet deploymnent</li>
</ul>


<dl class="dl-horizontal">
    <dt>Screenshot</dt>
    <dd>
        To take a look at the screenshots and how the applications work, please go to
        <a ui-sref="about">help</a>.
    </dd>

    <dt>Test Drive</dt>
    <dd>
        You can use our demo restaurants and accounts to test drive the app, please go to
        <a class="btn btn-sm btn-warning" ui-sref="login">login</a>page and click on 
        "Need demo ID/Password?" link.
    </dd>
</dl>






